*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    background-color: #1D1D1F;
    box-sizing: border-box;
    padding: 20px;
}

.area-do-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    padding-left: 35px;
}

.icons ul {
    display: flex;
    align-items: center;
}

.nav-links
.icons, li, a {
    list-style: none;
    text-decoration: none;
}

.nav-links a {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
}

.icons img {
    width: 25px;
}

.headerinferior{
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
    font-size: large;
    padding: 10px;
    font-weight: bold;
    
}

/* Body do carrinho */

body{
    font-family: 'Montserrat', sans-serif;
}

.carrinho{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 40px;
    align-items: center;
}

.carrinho h2{
    background-color: #D65A31;
    max-width: 360px;
    border-radius: 10px;
    margin-right: 75%;
    font-size: 25px;
    padding: 1%;
    font-weight: bold;
    
}

.container1,
.container2,
.container3{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 10%;
    
}

.texto1,
.texto2,
.texto3{
    max-width: 450px;
    margin-right: 20%;
    font-size: larger;
    justify-content: space-around;
}

.imagem1,
.imagem2,
.imagem3{
    max-width: 500px;
    margin-left: 15%;
    border-radius: 5%;

}

.container1 .texto1 h3,
.container2 .texto2 h3,
.container3 .texto3 h3{
    background-color: #222831;
    border-radius: 20px;
    max-width:fit-content;
    color: white;
    text-align: center;
    font-size: 25px;
    
}

.texto1 h3,
.texto2 h3,
.texto3 h3{
    margin-top: 20px;
}

.texto1 h2,
.texto2 h2,
.texto3 h2{
    margin-bottom: 10px;
}

.textofinal{
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-size: larger;
    margin-bottom: 5%;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

.valorfinal{
    background-color: #D65A31;
    max-width: fit-content;
    margin-left: 65%;
    padding: 1%;
    margin-top: 10%;
    border-radius: 25px;
}

/* Footer e Newsletter */

/* Área do Newsletter */

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
    height: 100px;
}

.newsletter h2 {
    font-size: 15px;
    font-weight: 500;
}

.newsletter input {
    margin-left: 40px;
    height: 35px;
    border: none;
}

.newsletter button {
    background-color: #D65A31;
    color: #FFFFFF;
    width: 80px;
    height: 37px;
    border: none;
}

/* Área do Footer */

footer {
    background-color: #1D1D1F;
    color: #FFFFFF;
}

.part {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.part h2 {
    font-weight: 500;
    font-size: 15px;
}

.part a {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 300;
}

.bandeiras ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bandeiras li {
    padding-left: 10px;
    align-items: center;
}

.rodape {
    background-color: #222831;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    font-weight: 100;
}