

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.fone1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;

}
.fonedescricao{
    background-color: #EEEEEE;
    border-radius: 8%;
    justify-content: center;
    margin-top: 15px;
    height: 350px;
    width: 350px;

}

.cores{
    display: flex;
    justify-content: right;
    justify-content: space-between;
    justify-content: space-around;
    margin-left: 820px;
    margin-right: 150px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.fotosProduto{
    display: flex;
    justify-content: space-between;
    margin-right: 800px;
    margin-bottom: 80px;
    margin-left: 70px;
}


.valorProduto{
    align-items: flex-start
}
.valorTotal{
    font-size: 24px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 450px;
    margin-left: 100px;
    margin-bottom: 80px;
    border-radius: 10%;
}


.finalizarPedido{
    display: flex;
    justify-content: center;
    background-color: orangered;
    border-radius: 20%;
    font-size: 36px;
    margin-left: 600px;
    margin-right: 550px;
    margin-bottom: 80px;

}












/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!Aqui estou importando o header e footer que utilizaremos no site inteiro.!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!



/* Header */

header {
    background-color: #1D1D1F;
    box-sizing: border-box;
}

.area-do-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    padding-left: 35px;
}

.icons ul {
    display: flex;
    align-items: center;
}

.nav-links
.icons, li, a {
    list-style: none;
    text-decoration: none;
}

.nav-links a {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
}

.icons img {
    width: 25px;
}
/* Área do Footer */

footer {
    background-color: #1D1D1F;
    color: #FFFFFF;
}

.part {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.part h2 {
    font-weight: 500;
    font-size: 15px;
}

.part a {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 300;
}

.bandeiras ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bandeiras li {
    padding-left: 10px;
    align-items: center;
}

.rodape {
    background-color: #222831;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    font-weight: 100;
}

/* .part section {
    border: 1px solid red;
} */


/*Newsletter*/
.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
    height: 100px;
}

.newsletter h2 {
    font-size: 15px;
    font-weight: 500;
}

.newsletter input {
    margin-left: 40px;
    height: 35px;
    border: none;
}

.newsletter button {
    background-color: #D65A31;
    color: #FFFFFF;
    width: 80px;
    height: 37px;
    border: none;
}
