@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

/*! CONFIGURAÇÃO PAGINA LOGIN */

body.login {
    background: white;
    background-repeat: no-repeat;
    min-height:100vh;
    min-width: 100vw;

    align-items: center;
    justify-content: center; 
    

}

main.container{
    background:linear-gradient(45deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.8));
    max-width: 400px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 7px 7px 15px grey(0,0,0,0.4);
    border-radius: 10px;
    border: whitesmoke;
    justify-content: center;
    align-items: center;
   
}
main h2{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 30%;


}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.input-login label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
    



form. .input-login:first-child{
    margin-bottom: 1rem;

}

.input-login .uderline::before{
    content:'';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: #c5cfe8f6;

}

.input-login .uderline::after{
    content:'';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: #3e002bf6;
}
.input-login{
    position: relative;
}

.input-login input{
    outline: none;
    width: 100%;
    font-size: 0.9rem;
    color: black (0 , 0 ,0 , 0.5);

}

.input-login input::placeholder{
    color: grey( 0, 0, 0, 0.7
    );

}



input[type="submit"]

 {
    width: 100%;
    height: 2.5rem;
    margin-top: 2rem;
    padding: 0,4rem;
    background: linear-gradient(to right, rgba(47, 47, 47, 0.885) ), rgba(82, 68, 68, 0.541) ;
    cursor: pointer;
    color:black;
    font-size: 1rem;
    font-weight: 350;
    border-radius: 5px;
    transition: all 0.3s ease;
  
} 
input[type="submit"]:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to left, rgba(47, 47, 47, 0.885) ), rgba(82, 68, 68, 0.541)


}
.websocial{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

.websocial span{
    color: rgba(0, 0, 0, 0.732);
    font-size: 0.8rem;
    text-align: center;
}
.websocial {
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%; 
    cursor: pointer;
    
   
}
.websocial a i {
    margin: 0 0.5rem;
    width: 15px;

}
.websocial .websocialFacebook a{
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
  
}

.websocial .websocialGoogle a{
    text-decoration: none;
    
    color: #FFFFFF;
}

.websocialFacebook{
   background: linear-gradient(to right,#3b5998 ,#061e54a2);
   
   transition: all 0.3s ease;
   
   
}
.websocialGoogle{
    background: linear-gradient(to right,rgb(234, 67, 53) ,rgba(121, 11, 1, 0.781));
    transition: all 0.3s ease;
    margin-top: 0.3rem;
 }

 .websocialFacebook:hover{
    background: linear-gradient(to left,#3b5998 ,#061e54a2);
   
    letter-spacing: 0.5px;
 }
 .websocialGoogle:hover{
     background: linear-gradient(to left,rgb(234, 67, 53) ,rgba(121, 11, 1, 0.781));
     
     letter-spacing: 0.5px;
  }