<%- include('../admin/partials/header') %>

<div class="container">

    <div>
        <h1>Cadastrar Venda</h1>
    </div>

    <div class="cadastrar-venda">

        <form action="">

            <div>
                <h3>Dados do Cliente</h3>
            </div>

            <div>
                <label for="nome">Nome do Cliente:</label>
                <input type="text" name="nome" id="nome">
            </div>

            <div>
                <label for="status">Status</label>
                <select name="status" id="status">
                    <option value="anulado">Anulado</option>
                    <option value="cancelado">Cancelado</option>
                    <option value="chargeback">Chargeback</option>
                    <option value="devolvido">Devolvido</option>
                    <option value="entregue">Entregue</option>
                    <option value="enviado">Enviado</option>
                    <option value="expirado">Expirado</option>
                    <option value="falha">Falha</option>
                    <option value="pagamentoAceito">Pagamento Aceito</option>
                    <option value="pendente">Pendente</option>
                    <option value="prepracaoEmCurso">Preparação em Curso</option>
                    <option value="processada">Processada</option>
                    <option value="reservaCancelada">Reserva Cancelada</option>
                    <option value="revertido">Revertido</option>
                </select>
            </div>

            <div>
                <label for="total">Total</label>
                <input type="text" name="nome" id="">
            </div>

            <div>
                <label for="">Data da Compra:</label>
                <input type="text" name="nome">
            </div>

            <div>
                <label for="">Data da Ultima Modificação:</label>
                <input type="text" name="nome">
            </div>

            <div>
                <h3>Área de Produtos</h3>
            </div>

            <div>

                <h4>Produto 1:</h4>
                <label for="">ID Produto:</label>
                <input type="text" name="nome">

                <button>Pesquisar</button>

            </div>

            <div>

                <h4>Produto 2:</h4>
                <label for="">ID Produto:</label>
                <input type="text" name="nome">

                <button>Pesquisar</button>

            </div>

            <div>

                <h4>Produto 3:</h4>
                <label for="">ID Produto:</label>
                <input type="text" name="nome">

                <button>Pesquisar</button>

            </div>

            <div>

                <h4>Produto 4:</h4>
                <label for="">ID Produto:</label>
                <input type="text" name="nome">

                <button>Pesquisar</button>

            </div>

            <div>
                <label for="">Forma de Pagamento:</label>
                <input type="text" name="nome">
            </div>

        </form>

    </div>
    
</div>