<%- include('../admin/partials/header') %>

<div class="container">

    <h1>Dashboard</h1>

    <div class="container-dashboard">

        <div class="atuact">
            <h3><a href="/admin/vendas">Vendas</a></h3>

            <div class="quantidade">
                <!-- puxar a quantidade de vendas -->
            </div>
        </div>

        <div class="atuact">
            <h3><a href="/admin/produtos">Produtos</a></h3>

            <div class="quantidade">
                <!-- puxar a quantidade de produtos cadastrados -->
            </div>
        </div class="atuact">

        <div class="atuact">
            <h3><a href="/admin/clientes">Clientes</a></h3>

            <div class="quantidade">
                <!-- puxar a quantidade de clientes ativos -->
            </div>
        </div>

    </div>

</div>