<%- include('../admin/partials/header') %>

<div class="container">

    <h1>Dashboard</h1>

    <div>
        <h3><a href="/vendas">Vendas</a></h3>

        <div>
            <!-- puxar a quantidade de vendas -->
        </div>
    </div>

    <div>
        <h3><a href="/produtos">Produtos</a></h3>

        <div>
            <!-- puxar a quantidade de produtos cadastrados -->
        </div>
    </div>

    <div>
        <h3><a href="/clientes">Clientes</a></h3>

        <div>
            <!-- puxar a quantidade de clientes ativos -->
        </div>
    </div>

</div>