<section class="banner">

    <div class="carousel">

        <img src="/images/carousel/img-1.jpg" alt="">

        <div class="controls">

            <button><img src="/images/icons/left.png" alt=""></button>

                <div class="container">

                    <div>
                        <h2>AirPods</h2>
                    </div>

                    <div class="texto-geracao">
                        <h3>2ª Geração</h3>
                    </div>

                    <div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>

                        <button class="saiba-mais">Saiba mais</button>

                </div>

            <button><img src="/images/icons/right.png" alt=""></button>

        </div>

    </div>

</section>

<!-- <section>

    <div class="carousel-container">

        <div class="carousel-slide">
            <img src="/images/carousel/img-1.jpg" id="lastClone" alt="">
            <img src="/images/carousel/img-2.png" alt="">
            <img src="/images/carousel/img-3.png" alt="">
            <img src="/images/carousel/img-1.jpg" id="firstClone" alt="">
        </div>

    </div>

    <button id="prevBtn">Prev</button>
    <button id="nextBtn">Next</button>

</section> -->