<section class="clientes">

    <div class="container">

        <div class="barra-titulo">
            <h1>O que os nossos clientes estão falando</h1>
        </div>

        <section class="cliente">

            <div class="div-cliente">

                <div class="img-profile">
                    <img src="/images/clientes/alan-vitorino.png" alt="">
                </div>

                <div class="nome-cliente">
                    <h2>Felipe Carvalho</h2>
                </div>

                <div class="comentario-cliente">
                    <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                    </p>
                </div>

            </div>

            <div class="div-cliente">

                <div class="img-profile">
                    <img src="/images/clientes/allyson-fernandes.png" alt="">
                </div>

                <div class="nome-cliente">
                    <h2>Igor Müller</h2>
                </div>

                <div class="comentario-cliente">
                    <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                    </p>
                </div>

            </div>

            <div class="div-cliente">

                <div class="img-profile">
                    <img src="/images/clientes/danilo-reis.png" alt="">
                </div>

                <div class="nome-cliente">
                    <h2>Myllena Lucena</h2>
                </div>

                <div class="comentario-cliente">
                    <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                    </p>
                </div>

            </div>

            <div class="div-cliente">

                <div class="img-profile">
                    <img src="/images/clientes/igor-muller.png" alt="">
                </div>

                <div class="nome-cliente">
                    <h2>Silvio Fernandes</h2>
                </div>

                <div class="comentario-cliente">
                    <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                    </p>
                </div>

            </div>

        </section>

    </div>

</section>