<footer>

    <div class="container">

        <div class="part">

            <section class="bloco">
                <ul>
                    <h2>Nossos Produtos</h2>
                    <li><a href="">AirPods 2ª Geração</a></li>
                    <li><a href="">AirPods 3ª Geração</a></li>
                    <li><a href="">AirPods Pro</a></li>
                    <li><a href="">AirPods Max</a></li>
                </ul>
            </section>

            <section class="bloco">
                <ul>
                    <h2>Sobre a Nossa Empresa</h2>
                    <li><a href="/sobre-nos">Sobre nós</a></li>
                    <li><a href="/termos-e-condicoes">Termos e Condições</a></li>
                    <li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
                    <li><a href="/entrega-produtos">Entrega dos Produtos</a></li>
                </ul>
            </section>

            <section class="bloco">
                <ul>
                    <h2>Fale Conosco</h2>
                    <li><a href="tel:11900000000">Tel.: +55 (11) 90000-0000</a></li>
                    <li><a href="mailto:contato@empresax.com.br">E-mail: contato@empresax.com.br</a></li>
                </ul>
            </section>

            <section class="bloco">
                <div class="bandeiras">
                    <ul>
                        <li><img src="/images/icons/mastercard.png" alt=""></li>
                        <li><img src="/images/icons/visa.png" alt=""></li>
                        <li><img src="/images/icons/elo.png" alt=""></li>
                        <li><img src="/images/icons/amex.png" alt=""></li>
                    </ul>
                </div>
            </section>

        </div>

    </div>

</footer>

<div class="rodape">
    <div class="container">
        <p> Empresa de Comercios de Fones de Ouvido LTDA. CNPJ 00.000.000/1000-57
            Av. Domingos Odália Filho, 5000 - Osasco, São Paulo/SP - 00000-000
        </p>
    </div>
</div>

</body>

</html>