<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/padroes.css">
    <link rel="stylesheet" href="/stylesheets/home.css">

    <title>Programa AirPods Para Sempre</title>

</head>

<body>
    
    <header>

        <div class="container">

            <div class="area-do-header">
                <div class="logotipo">
                    <a href="/"><p>LOGOTIPO</p></a>
                </div>

                <nav>
                    <div class="nav-links">
                        <ul>
                            <li><a href="descricaoProduto.html">PRODUTO 1</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 2</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 3</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 4</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 5</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="icons">
                    <ul>
                        <li><a href=""><img src="/images/icons/search.png" alt=""></a></li>
                        <li><a href="cadastro.html"><img src="/images/icons/user.png" alt=""></a></li>
                        <li><a href="carrinho.html"><img src="/images/icons/shopping.png" alt=""></a></li>
                    </ul>
                </div>
            </div>

        </div>

    </header>