<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/mobile-fist.css">

    <script src="/mobile-navbar.js"></script>

    <title>Programa AirPods Para Sempre</title>

</head>

<body>
    
    <header>

        <div class="container">

            <div class="area-do-header">
                <div class="logotipo">
                    <a href="/"><p>LOGOTIPO</p></a>
                </div>

                <nav>
                    <div class="nav-links">
                        <ul>
                            <li><a href="descricaoProduto.html">AirPods 2ยบ G</a></li>
                            <li><a href="descricaoProduto.html">AirPods 3ยบ G</a></li>
                            <li><a href="descricaoProduto.html">AirPods Pro</a></li>
                            <li><a href="descricaoProduto.html">AirPods Max</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="icons">
                    <ul>
                        <li><a href="/procurar"><img src="/images/icons/search.png" alt=""></a></li>
                        <li><a href="/login"><img src="/images/icons/user.png" alt=""></a></li>
                        <li><a href="/carrinho"><img src="/images/icons/shopping.png" alt=""></a></li>
                    </ul>
                </div>
            </div>

        </div>

    </header>