<section class="newsletter">
    <div class="container">
        <div class="newsletter">
            <h2>Assine nossa Newsletter</h2>
            <input type="email" placeholder="Digite seu e-mail">
            <button>Cadastrar</button>
        </div>
    </div>
</section>