<section>

<div class="containerte">

    <div class="barra-pesquisar">

        <input type="text" class="texto-pesquisa" placeholder="Qual fone você busca?">
        <a href="#" class="button-pesquisar"></a>
            <img src="/public/images/icons/search.png" alt="Lupa" height="20" width="20">

    </div>

    <div class="area-produtos">
        
        <div class="produto">
            
            <div class="imagem-produto">
                <img src="/images/produtos/produto-1" alt="" width="85%" height="90%">
            </div>
            
            <div class="titulo-produto">
                <h1>Air Pods</h1>
            </div>
            
            <div class="subtitulo-produto">
                <h4> 2ª geração</h4>
            </div>
            
            <div class="valor-produto">
                <h1>R$1.555,00 </h1>
            </div>
            
            <div class="parcela-produto">
                <p> Ou em 10x de R$155,50 </p>
            </div>

            <div class="button-produto">
                <button>
                    <a href="/descricaoProduto/1">
                        Saiba Mais
                    </a>
                </button>
            </div>
        </div>

        <div class="produto">

            <div class="imagem-produto">
                <img src="/images/produtos/produto-2" alt="" width="85%" height="90%">
            </div>

            <div class="titulo-produto">
                <h1>Air Pods</h1>
            </div>

            <div class="subtitulo-produto">
                <h4> 3ª geração</h4>
            </div>

            <div class="valor-produto">
                <h1>R$ 2.261,00</h1>
            </div>

            <div class="parcela-produto">
                <p> Ou em 10x de R$ 226,10 </p>
            </div>

            <div class="button-produto">
                <button>
                    <a href="/descricaoProduto/2">
                        Saiba Mais
                    </a>
                </button>
            </div>

        </div>

        <div class="produto">

            <div class="imagem-produto">
                <img src="/images/produtos/produto-2" alt="" width="85%" height="90%">
            </div>

            <div class="titulo-produto">
                <h1>Air Pods Pro</h1>
            </div>

            <div class="subtitulo-produto">
                <h4> 3ª geração</h4>
            </div>

            <div class="valor-produto">
                <h1>R$ 2.826,00</h1>
            </div>

            <div class="parcela-produto">
                <p> Ou em 10x de R$ 282,60 </p>
            </div>

            <div class="button-produto">
                <button>
                    <a href="/descricaoProduto/2">
                        Saiba Mais
                    </a>
                </button>
            </div>

        </div>
        

        <div class="produto">

            <div class="imagem-produto">
                <img src="/images/produtos/produto-3.png" alt="" width="85%" height="90%">
            </div>

            <div class="titulo-produto">
                <h1>Air Pods Max</h1>
            </div>

            <div class="subtitulo-produto">
                <h4><br></h4>
            </div>

            <div class="valor-produto">
                <h1>R$ 6.590,00 </h1>
            </div>
            
            <div class="parcela-produto">
                <p> Ou em 10x de R$659,00 </p>
            </div>

            <div class="button-produto">
                <button>
                    <a href="/descricaoProduto/3">
                        Saiba Mais
                    </a>
                </button>
            </div>

        </div>

    </div>

</div>

</section>