<section>

    <div class="container">
    
        <div class="area-pequisar">
    
            <input type="text" placeholder="Qual fone você busca?">
    
            <button>
                <img src="/public/images/icons/search.png" alt="">
            </button>
    
        </div>
    
        <section class="area-produtos">
    
            <div class="produto-1">
                <div class="img-prod">
                    <img src="/images/produtos/produto-1.png" alt="" width="85%" height="90%">
                </div>
                <div class="titulo-prod">
                    <h1>Aipods</h1>
                </div>
                <div class="geracao-prod">
                    <h4>2ª geração</h4>
                </div>
                <div class="valor-prod">
                    <h1>R$499,00</h1>
                </div>
                <div class="parcelar-prod">
                    <p>Ou em 10x de R$49,90</p>
                </div>
                <button class="saiba-mais">
                    Saiba mais
                </button>
            </div>
    
            <div class="produto-1">
                <div class="img-prod">
                    <img src="/images/produtos/produto-1.png" alt="" width="85%" height="90%">
                </div>
                <div class="titulo-prod">
                    <h1>Aipods</h1>
                </div>
                <div class="geracao-prod">
                    <h4>2ª geração</h4>
                </div>
                <div class="valor-prod">
                    <h1>R$499,00</h1>
                </div>
                <div class="parcelar-prod">
                    <p>Ou em 10x de R$49,90</p>
                </div>
                <button class="saiba-mais">
                    Saiba mais
                </button>
            </div>
    
            <div class="produto-1">
                <div class="img-prod">
                    <img src="/images/produtos/produto-1.png" alt="" width="85%" height="90%">
                </div>
                <div class="titulo-prod">
                    <h1>Aipods</h1>
                </div>
                <div class="geracao-prod">
                    <h4>2ª geração</h4>
                </div>
                <div class="valor-prod">
                    <h1>R$499,00</h1>
                </div>
                <div class="parcelar-prod">
                    <p>Ou em 10x de R$49,90</p>
                </div>
                <button class="saiba-mais">
                    Saiba mais
                </button>
            </div>
    
            <div class="produto-1">
                <div class="img-prod">
                    <img src="/images/produtos/produto-1.png" alt="" width="85%" height="90%">
                </div>
                <div class="titulo-prod">
                    <h1>Aipods</h1>
                </div>
                <div class="geracao-prod">
                    <h4>2ª geração</h4>
                </div>
                <div class="valor-prod">
                    <h1>R$499,00</h1>
                </div>
                <div class="parcelar-prod">
                    <p>Ou em 10x de R$49,90</p>
                </div>
                <button class="saiba-mais">
                    Saiba mais
                </button>
            </div>
    
        </section>
    
    </div>
    
</section>