<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Página de Login</title>
</head>
<body>
    
</head>

<body>
    
    <header>

        <div class="container">

            <div class="area-do-header">
                <div class="logotipo">
                    <a href="index.html"><p>LOGOTIPO</p></a>
                </div>

                <nav>
                    <div class="nav-links">
                        <ul>
                            <li><a href="descricaoProduto.html">PRODUTO 1</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 2</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 3</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 4</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 5</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="icons">
                    <ul>
                        <li><a href=""><img src="/img/icons/search.png" alt=""></a></li>
                        <li><a href="cadastro.html"><img src="/img/icons/user.png" alt=""></a></li>
                        <li><a href="carrinho.html"><img src="/img/icons/shopping.png" alt=""></a></li>
                    </ul>
                </div>
            </div>

        </div>

    </header>


</body>

<section.login>
    <div class="container">

        <h1.login>Cadastrar</h1> 

        <form>
        <label for="fName">Nome</label>
        <br>
        <input type="text" method="POST" id="fName" name="fName" placeholder="Nome"  autoComplete="Nome" >
        <br>
        <label for="fName">Sobrenome</label>
        <input type="text" method="POST" id="fName" name="fName" placeholder="Sobrenome"  autoComplete="Sobrenome" >
        <br>
        <label for="Genero">Gênero</label>
        <br>
        <select name="Gênero" id="Genero">
            <option selected disabled >Selecione</option>
            <option value="female">Feminino</option>
            <option value="masc">Masculino</option>
            <option value="naoBinario">Não-Binário</option>
            <option value="semRespostaDefinida">Prefiro não responder</option>
            <option value="na">Outro</option>
        </select>   
        <br>
        <label for="Email">Endereço de Email</label>
        <br>
        <input type="email" method="POST" id="Login" name="Email" placeholder="Email"  autoComplete="email" >
        <br>  
        <label for="Celular">Celular</label>
        <input type="text" onkeypress="event.charCode >=48 && event.charCode <=57" id="celular" name="celular" placeholder="(00) 00000-0000">
        <br>
        <label for="document">CPF</label>
        <input type="text" onkeypress="event.charCode >=48 && event.charCode <=57" id="document" name="document" placeholder="000.000.000-00">
        <br>
        <label for="Data de Nascimento">Data de Nascimento</label>
        <input type="birthday" name="birthday" placeholder="DD/MM/YYYY">

        <br>
        <label class="sc-jTzLTM jHgpmf">Senha<a class="sc-kZmsYB hGZyMi sc-bwzfXH iGJwnU" ></a></label>
        <br>
        <input type="password" class="sc-kxynE bUoeBp sc-gZMcBi czHOgp" value="" name="password" placeholder="Senha" autoComplete="current-password"/><a class="sc-gmeYpB dFeZlW sc-bZQynM bHgcyw sc-htpNat cgjxtC">MOSTRAR</a></div><button class="sc-iBEsjs dWzuHx sc-jKVCRD JAWAf sc-gzVnrw gfgqRd sc-bdVaJa jvMEXr"></button>>
        <br> 




        <button type="submit" value="cadastro">Cadastrar</button>

        <label for=""></label>
        </form>

    </div>>
</section>

<footer>

    <div class="container">

        <div class="part">

            <section>
                <ul>
                    <h2>Nossos Produtos</h2>
                    <li><a href="">Acesso a página A</a></li>
                    <li><a href="">Acesso a página B</a></li>
                    <li><a href="">Acesso a página C</a></li>
                    <li><a href="">Acesso a página D</a></li>
                    <li><a href="">Acesso a página E</a></li>
                </ul>
            </section>

            <section>
                <ul>
                    <h2>Sobre a Nossa Empresa</h2>
                    <li><a href="sobre-nos.html">Sobre nós</a></li>
                    <li><a href="termos-e-condicoes.html">Termos e Condições</a></li>
                    <li><a href="politica-de-privacidade.html">Política de Privacidade</a></li>
                    <li><a href="entrega-produtos.html">Entrega dos Produtos</a></li>
                </ul>
            </section>

            <section>
                <ul>
                    <h2>Fale Conosco</h2>
                    <li><a href="tel:11900000000">Tel.: +55 (11) 90000-0000</a></li>
                    <li><a href="mailto:contato@empresax.com.br">E-mail: contato@empresax.com.br</a></li>
                </ul>
            </section>

            <section>
                <div class="bandeiras">
                    <ul>
                        <li><img src="/img/icons/mastercard.png" alt=""></li>
                        <li><img src="/img/icons/visa.png" alt=""></li>
                        <li><img src="/img/icons/elo.png" alt=""></li>
                        <li><img src="/img/icons/amex.png" alt=""></li>
                    </ul>
                </div>
            </section>

        </div>

    </div>

</footer>

<div class="rodape">
    <div class="container">
        <p> Empresa de Comercios de Fones de Ouvido LTDA. CNPJ 00.000.000/1000-57
            Av. Domingos Odália Filho, 5000 - Osasco, São Paulo/SP - 00000-000
        </p>
    </div>
</div>

</body>
</html>