<%- include('./admin/partials/header') %>

<div class="container">

    <div>
        <h1>Cadastrar Venda</h1>
    </div>

    <div class="cadastrar-venda">

        <form action="">

            <div>
                <h3>Dados do Cliente</h3>
            </div>

            <div>
                <label for="">Nome do Cliente:</label>
                <input type="text" name="nome">
            </div>

            <div>
                <label for="">Status</label>
                <select name="" id="">
                    <option value="">Anulado</option>
                    <option value="">Cancelado</option>
                    <option value="">Chargeback</option>
                    <option value="">Devolvido</option>
                    <option value="">Entregue</option>
                    <option value="">Enviado</option>
                    <option value="">Expirado</option>
                    <option value="">Falha</option>
                    <option value="">Pagamento Aceito</option>
                    <option value="">Pendente</option>
                    <option value="">Preparação em Curso</option>
                    <option value="">Processada</option>
                    <option value="">Reserva Cancelada</option>
                    <option value="">Revertido</option>
                </select>
            </div>

            <div>
                <label for="">Total</label>
                <input type="text" name="nome">
            </div>

            <div>
                <label for="">Data da Compra:</label>
                <input type="text" name="nome">
            </div>

            <div>
                <label for="">Data da Ultima Modificação:</label>
                <input type="text" name="nome">
            </div>

            <div>
                <h3>Área de Produtos</h3>
            </div>

            <div>

                <h4>Produto 1:</h4>
                <label for="">ID Produto:</label>
                <input type="text" name="nome">

                <button>Pesquisar</button>

            </div>

            <div>

                <h4>Produto 2:</h4>
                <label for="">ID Produto:</label>
                <input type="text" name="nome">

                <button>Pesquisar</button>

            </div>

            <div>

                <h4>Produto 3:</h4>
                <label for="">ID Produto:</label>
                <input type="text" name="nome">

                <button>Pesquisar</button>

            </div>

            <div>

                <h4>Produto 4:</h4>
                <label for="">ID Produto:</label>
                <input type="text" name="nome">

                <button>Pesquisar</button>

            </div>

            <div>
                <label for="">Forma de Pagamento:</label>
                <input type="text" name="nome">
            </div>

        </form>

    </div>
    
</div>