<%- include('./partials/head') %>

<link rel="stylesheet" href="/stylesheets/cadastro.css">



<main class="cadastro">

    <div class="wrapper">
            
        <h2 class="page_title">Cadastrar</h2>
      <div class="container">   

        <form method="POST" action="#" class="input-cadastro">
        <label for="fName">Nome</label>
        
        <input type="text"  id="fName" name="fName" placeholder="Nome"  autoComplete="Nome" required >
        
        <label for="fName">Sobrenome</label>
        <input type="text" method="POST" id="fName" name="fName" placeholder="Sobrenome"  autoComplete="Sobrenome" >
        
        <label for="Genero">Gênero</label>
        
        <select name="Gênero" id="Genero">
            <option selected disabled >Selecione</option>
            <option value="female">Feminino</option>
            <option value="masc">Masculino</option>
            <option value="naoBinario">Não-Binário</option>
            <option value="semRespostaDefinida">Prefiro não responder</option>
            <option value="na">Outro</option>
        </select>   
        
        <label for="Email">Endereço de Email</label>
        
        <input type="email" method="POST" id="Login" name="Email" placeholder="Email"  autoComplete="email" >
          
        <label for="Celular">Celular</label>
        <input type="text" onkeypress="event.charCode >=48 && event.charCode <=57" id="celular" name="celular" placeholder="(00) 00000-0000">
        
        <label for="document">CPF</label>
        <input type="text" onkeypress="event.charCode >=48 && event.charCode <=57" id="document" name="document" placeholder="000.000.000-00">
        
        <label for="Data de Nascimento">Data de Nascimento</label>
        <input type="birthday" name="birthday" placeholder="DD/MM/YYYY">

        
        <label for="password">Senha</label>
        
        <input type="password"  value="" name="password" placeholder="Senha" autoComplete="current-password"/>
         




        <input type="submit" value="Cadastrar">

       
        </form>
    </div>  
    </div>
</main>

<%- include('./partials/footer') %>