<div>
    <div class="div-child">
        <form method="POST" action="/acaoCadastro" enctype="multipart/form-data" style="border:1px solid #ccc">
            <div class="container">
                <h2>Registro de usuario</h2>
                <hr>

                <label for="name"><b>Nome Completo </b></label>
                <input type="text" name="name">
               
                <label for="email"><b> Email </b></label>
                <input type="email" name="email">
                
                <label for="psw"><b> password </b></label>
                <input type="password" name="psw" >
                

                <div class="clearfix">
                    <button type="submit" class="signupbtn" style="font-size: 18px"> <b>Registrar </b> </button>
                </div>
            </div>
        </form>

    </div>
</div>