
<%- include('./partials/head') %>

<link rel="stylesheet" href="/stylesheets/style.css">

<section class="cadastro-ususario">
    <h3>Faça seu cadastro</h3>
    <div class="campos-cadastro">
        <label> Email: </label><input id="campo-email" type="email">
        <label> Senha: </label><input id="campo-senha" type="password">
        <label> Confirme sua senha: </label><input id="campo-senha" type="password">
        <label> Data de nascimento </label><input id="data-nascimento" type="date">
        <label> Cidade: </label><input id="cidade" type="text">
        <label> Estado: </label><input id="estado" type="text">
        <label> Endereço: </label><input id="endereco" type="text">
        <label> Telefone: </label><input id="telefone" type="tel">
        <label> Receber emails e telefonemas sobre novidades? </label><input id="checkbox" type="checkbox">
        <label> Concordo com termos e condições </label><input id="checkbox" type="checkbox">
    </div>
</section>

<button class="terminar-cadastro">
    <a href="pagina-usuario"> Fazer seu cadastro </a>
</button>

<%- include('./partials/footer') %>