<%- include('./partials/head') %>

<link rel="stylesheet" href="/stylesheets/carrinho.css">

<content class="container1">
    <div class="imagem1">
        <img src="/images/produtos/produto-1.png" alt="" width="300px" height="335px">
    </div> 
    <div class="texto1">
        <h2>Fone 1</h2>
        
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores doloribus ex perspiciatis iste ab totam nulla cupiditate error, culpa debitis aspernatur? Placeat modi delectus minus dignissimos repellendus nostrum nulla?
        <h3> &nbsp; Valor 300,00 &nbsp;</h3>
    </div>
</content>

<content class="container2">
    <div class="imagem2">
        <img src="/images/produtos/produto-2.png" alt="" width="300px" height="335px">
    </div>
    <div class="texto2">
        <h2>Fone 2</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores doloribus ex perspiciatis iste ab totam nulla cupiditate error, culpa debitis aspernatur? Placeat modi delectus minus dignissimos repellendus nostrum nulla?
        <h3> &nbsp; Valor 500,00 &nbsp;</h3>
    </div>
</content>


<content class="container3">
    <div class="imagem3">
        <img src="/images/produtos/produto-3.png" alt="" width="300px" height="335px">
    </div>
    <div class="texto3">
        <h2>Fone 3</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores doloribus ex perspiciatis iste ab totam nulla cupiditate error, culpa debitis aspernatur? Placeat modi delectus minus dignissimos repellendus nostrum nulla?
        <h3> &nbsp; Valor 1000,00 &nbsp;</h3>
    </div>
        

</content>

<div class="valorfinal">
    <h2>Valor final R$ 1.800,00</h2>
</div>

<div class="textofinal">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus quisquam culpa eveniet eum voluptate autem, nam veniam laborum temporibus adipisci fuga magnam quod quia non doloribus doloremque, omnis earum!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus quisquam culpa eveniet eum voluptate autem, nam veniam laborum temporibus adipisci fuga magnam quod quia non doloribus doloremque, omnis earum!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus quisquam culpa eveniet eum voluptate autem, nam veniam laborum temporibus adipisci fuga magnam quod quia non doloribus doloremque, omnis earum!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem natus quisquam culpa eveniet eum voluptate autem, nam veniam laborum temporibus adipisci fuga magnam quod quia 
</div>

<%- include('./partials/footer') %>