<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/css/carrinho.css">
</head>
<body>

    <div class="carrinho">
        <img src="/img/carrinho.png" alt="" width="60px" height="60px">
        <p class="carrinhotexto">Carrinho</p>
    </div>

    <h3>Quantidade 1x</h3>

    <div class="fone1">
        <img src="/img/produtos/produto-1.png" alt="">
        <p class="descricaoProduto1"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </br> Totam, sed. Eius a quos neque assumenda impedit eum </br> saepe dolore cupiditate eligendi non amet suscipit sit </br> adipisci ab ducimus, fugiat libero?
        Lorem ipsum dolor sit </br> amet consectetur adipisicing elit. </br>Tempore fugit commodi dolorum unde necessitatibus modi </br>cupiditate tempora architecto, veniam hic! Ea sed impedit, </br> eveniet eum nostrum minus? Vel, autem nam.</p>
    </div>
    
    
</body>
</html>