<%- include('./admin/partials/header') %>

<h1>Dashboard</h1>

<div>
    <h3><a href="/vendas">Vendas</a></h3>
</div>

<div>
    <h3><a href="/produtos">Produtos</a></h3>
</div>

<div>
    <h3><a href="/clientes">Clientes</a></h3>
</div>