<%- include('./partials/head') %>
<section>

<link rel="stylesheet" href="/stylesheets/descricaoProduto.css">
<div class="fone">
    <img src="/images/produtos/produto-1.png" alt="" width="370px" height="405px" >
    <p>
    Lorem ipsum dolor sit amet consectetur badipisicing elit. Nemo minus reiciendis voluptate ducimus  laudantium accusantium unde magnam hic vero? Provident accusantium quia aliquid odit incidunt velit  laborum nulla est adipisci? Lorem ipsum dolor sit amet consectetur  badipisicing elit. Nemo minus reiciendis voluptate ducimus  laudantium accusantium unde magnam hic vero? Provident    
    </p>
</div>

<div class="fotosEProdutos">
    <div class="fotos">
        <img src="/images/produtos/produto-1.png" alt="" width="170px" height="205px" >
        <img src="/images/produtos/produto-1.png" alt="" width="170px" height="205px">
        <img src="/images/produtos/produto-1.png" alt="" width="170px" height="205px">
        <img src="/images/produtos/produto-1.png" alt="" width="170px" height="205px">
    </div>
    <div class="cores">
        <img src="/images/azul.png" alt="" width="150px" height="150px">
        <img src="/images/prata.png" alt="" width="150px" height="150px">
        <img src="/images/preto.png" alt="" width="150px" height="150px">
        <img src="/images/verde.png" alt="" width="150px" height="150px">
    </div>
</div>


<div class="valor">
    <p> &nbsp;Valor total R$ 499,00</p>
    <p> &nbsp;12x de R$ 41,58</p>
</div>

<div class="adicionarCarrinho">
    <a href="/carrinho" class="texto"> Adicionar ao carrinho </p>
</div>


</section>

<%- include('./partials/footer') %>