<%- include('./partials/head') %>

<body>

    <container class="area-pagina">
        <section class="lado-esquerdo">
            <h2>
                Air Pods
            </h2>
            <p>
                3ª Geração
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus sunt nihil delectus culpa, pariatur quaerat numquam sint, dicta, sapiente consequatur ipsa totam reprehenderit tempora deserunt maiores sit dolorum. Atque, hic?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus sunt nihil delectus culpa, pariatur quaerat numquam sint, dicta, sapiente consequatur ipsa totam reprehenderit tempora deserunt maiores sit dolorum. Atque, hic?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus sunt nihil delectus culpa, pariatur quaerat numquam sint, dicta, sapiente consequatur ipsa totam reprehenderit tempora deserunt maiores sit dolorum. Atque, hic?
            </p>
             
            <h3 class="valor">
                Valor total R$ 200,00
            </h3>
            <p>
                Ou em 5 vezes de R$ 40,00
            </p>
        </section>

        <section class="lado-direito">
                <img class="foto-principal" src="/images/produtos/produto-1.png" alt="" width="50%" height="50%">
            <section class="fotos-secundaria-fone">
                <img src="/images/produtos/produto-1.png" alt="" width="20%" height="20%">
                <img src="/images/produtos/produto-1.png" alt="" width="20%" height="20%">
                <img src="/images/produtos/produto-1.png" alt="" width="20%" height="20%">
                <img src="/images/produtos/produto-1.png" alt="" width="20%" height="20%">
            </section>
        </section>

        

    </container>
    <button class="finalizar">
        Finalizar Compra
    </button>

</body>

<%- include('./partials/footer') %>