<%- include('./partials/head') %>

        <section>
            <div class="container">
                <div class="barra-titulo">
                    <h1>Entrega dos Produtos</h1>
                </div>

                <div class="texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ipsa soluta quibusdam, inventore id deleniti, tempore fugiat nulla sed sint repellendus minima quae illum? Quos quis suscipit rem eaque ipsum, perferendis ullam consequuntur, esse libero facere illo expedita explicabo porro ducimus vero modi culpa odit assumenda, hic in? Rerum placeat molestias expedita, vero repellat voluptates cum esse quis alias praesentium tempora optio fugiat? Nihil expedita, impedit illo esse ea beatae inventore ad velit dolorum, aperiam possimus fugit sint optio unde reprehenderit officiis qui. Sint accusantium, voluptatem quis blanditiis laborum rerum suscipit nisi doloribus assumenda repellendus soluta repudiandae alias maxime architecto perspiciatis exercitationem totam, recusandae quidem explicabo in ea distinctio libero voluptate vero? Provident quia molestiae architecto laudantium in officiis fugiat nostrum cum assumenda adipisci reiciendis quasi maiores similique tenetur sit deleniti fuga at, cumque excepturi culpa amet aliquam beatae suscipit eius! Laudantium maiores atque quas dolores asperiores mollitia dolorum illo, quod distinctio porro! Doloribus, laboriosam aliquam. Illo cumque similique ad vitae molestiae corrupti et, nam officia earum incidunt esse. Sequi soluta, quo repellendus incidunt autem, qui fuga quasi dolor mollitia corporis tempore ea reiciendis iste voluptatibus nulla atque totam officiis? Quaerat, odio dolore pariatur in enim tempora incidunt nobis iure magni tenetur. Porro deserunt distinctio obcaecati facere quidem cumque esse quos labore ipsam neque nisi sit, sed enim, ipsum nihil dolorem iusto sint explicabo officiis rem. Perferendis vel ullam accusantium. Consequuntur esse non nihil maxime voluptates, commodi vel fugiat hic facilis quasi in quisquam asperiores cupiditate quae ea eius dolorem rem quas officiis perferendis quo laboriosam ipsam numquam. Deserunt, cumque eveniet? Id quam rerum tempore velit dolore aut suscipit, officiis, amet beatae ipsum corrupti culpa ratione itaque praesentium voluptatem vel nesciunt error unde, quasi quidem quas natus eligendi! A veniam dolorem cum illum officiis consequatur asperiores quo quos, est ipsa, numquam ut hic laboriosam totam inventore cumque optio! Omnis dolorem nemo assumenda cumque, suscipit ducimus ullam similique quos vero distinctio. Distinctio eveniet laudantium ex fuga delectus odit a assumenda ipsam vitae illo neque dolorum fugiat harum eligendi, ipsum facere tempore ad esse quae tenetur optio expedita amet dicta quas. Dolorem, officiis expedita. Illum velit, temporibus eaque molestias facere numquam sit aut provident adipisci quos voluptatibus nulla itaque? Beatae impedit aperiam soluta distinctio adipisci quisquam atque qui expedita fuga eligendi perspiciatis a tenetur, enim sint provident eos voluptate repellat quibusdam excepturi quas asperiores, veniam doloribus minima? Aspernatur pariatur temporibus illum necessitatibus porro laborum hic dolorum neque labore. Praesentium necessitatibus blanditiis officiis voluptates odit unde laudantium harum consequuntur illo vel minus excepturi aspernatur nulla exercitationem nemo minima iure autem, voluptas aliquid, quae corrupti reprehenderit! Officia quo obcaecati voluptatibus in doloremque accusantium, facere molestiae quibusdam harum alias ad totam! Fugit recusandae velit voluptatum, possimus aut, perferendis nesciunt sit corrupti eveniet iste sapiente beatae assumenda alias? Repellendus, cumque blanditiis. Eligendi eaque unde deserunt aperiam! Vel placeat assumenda amet quam possimus laboriosam quod id nulla libero repudiandae ullam labore unde, sed totam vero iure illo natus, quia tenetur! Accusamus cumque placeat minima omnis debitis voluptates.
                </div>
            </div>
        </section>

        <section class="newsletter">
            <div class="container">
                <div class="newsletter">
                    <h2>Assine nossa Newsletter</h2>
                    <input type="email" placeholder="Digite seu e-mail">
                    <button>Cadastrar</button>
                </div>
            </div>
        </section>

<%- include('./partials/footer') %>