<%- include('./partials/head') %>

<body>
    <select class="título-finalizacao">
        <h1>PEDIDO CONCLUÍDO</h1>
    </select>

    <select class="texto-finalização">
        <h2>It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its layout. The point of using Lorem Ipsum is
            that it has a more-or-less normal distribution of letters, as opposed to using
            'Content here, content here', making it look like readable English. Many desktop
            publishing packages and web page editors now use Lorem Ipsum as their default model
            text, and a search for 'lorem ipsum' will uncover many web sites still in their
            infancy. Various versions have evolved over the years, sometimes by accident,</h2>
    </select>
    
    <section class="informacoes">
        <div>
        Lorem Ipsum as their default model
        text, and a search for 'lorem ipsum'.
        </div>
        <div>
        Lorem Ipsum as their default model
        text, and a search for 'lorem ipsum'.
        </div>
        <div>
        Lorem Ipsum as their default model
        text, and a search for 'lorem ipsum'.
        </div>
    </section>

    <select class="voltar-conta">
        <div class="conta">
            <a href="pagina-principal">
                Sua conta
            </a>
        </div>
    </select>

    <section class="newsletter">
        <div class="container">
            <div class="newsletter">
                <h2>Assine nossa Newsletter</h2>
                <input type="email" placeholder="Digite seu e-mail">
                <button>Cadastrar</button>
            </div>
        </div>
    </section>

</body>


<%- include('./partials/footer') %>