<%- include('./partials/head') %>

<div class="pedido_concluido">
    <h2> Pedido concluído</h2>
</div>

<div class="lorem_pedido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, laborum dignissimos sunt atque dolore officiis expedita, quas sapiente sequi deleniti iste at nisi. Fuga inventore minus soluta, consequatur voluptatibus rem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, laborum dignissimos sunt atque dolore officiis expedita, quas sapiente sequi deleniti iste at nisi. Fuga inventore minus soluta, consequatur voluptatibus rem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, laborum dignissimos sunt atque dolore officiis expedita, quas sapiente sequi deleniti iste at nisi. Fuga inventore minus soluta, consequatur voluptatibus rem.
</div>

<div class="infos-entrega">
<div class="info1">
    <img src="/images/icons/caixa.jpg" alt="" width="100px" width="100px">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

</div>

<div class="info2">
    <img src="/images/icons/documento.jpg" alt="" width="100px" width="100px">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

</div>

<div class="info3">
    <img src="/images/icons/van.jpg" alt="" width="100px" width="100px">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

</div>

</div>

<button class="finalizar">
    <a class="pagina-usuario" href="pagina-usuario"> Sua conta </a>
</button>

<%- include('./partials/footer') %>