<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home.css">

    <title>Programa AirPods Para Sempre</title>

</head>

<body>
    
    <header>

        <div class="container">

            <div class="area-do-header">
                <div class="logotipo">
                    <a href="index.html"><p>LOGOTIPO</p></a>
                </div>

                <nav>
                    <div class="nav-links">
                        <ul>
                            <li><a href="descricaoProduto.html">PRODUTO 1</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 2</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 3</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 4</a></li>
                            <li><a href="descricaoProduto.html">PRODUTO 5</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="icons">
                    <ul>
                        <li><a href=""><img src="/img/icons/search.png" alt=""></a></li>
                        <li><a href="cadastro.html"><img src="/img/icons/user.png" alt=""></a></li>
                        <li><a href="carrinho.html"><img src="/img/icons/shopping.png" alt=""></a></li>
                    </ul>
                </div>
            </div>

        </div>

    </header>

    <section class="banner">
        <div class="carousel">
            <img src="/img/carrossel/img-1.jpg" alt="">
            <div class="controls">
                <button><img src="/img/icons/left.png" alt=""></button>
                    <div class="container">
                        <h2>AirPods</h2>
                        <h3>2ª Geração</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button>Saiba mais</button>
                    </div>
                <button><img src="/img/icons/right.png" alt=""></button>
            </div>
        </div>

        <div class="carousel">
            <img src="/img/carrossel/img-2.png" alt="">
            <div class="controls">
                <button><img src="/img/icons/left.png" alt=""></button>
                    <div class="container">
                        <h2>AirPods</h2>
                        <h3>3ª Geração</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button>Saiba mais</button>
                    </div>
                <button><img src="/img/icons/right.png" alt=""></button>
            </div>
        </div>

        <div class="carousel">
            <img src="/img/carrossel/img-3.png" alt="">
            <div class="controls">
                <button><img src="/img/icons/left.png" alt=""></button>
                    <div class="container">
                        <h2>AirPods Pro</h2>
                        <br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button>Saiba mais</button>
                    </div>
                <button><img src="/img/icons/right.png" alt=""></button>
            </div>
        </div>

    </section>

    <section class="programa">

        <div class="container">

            <div class="barra-titulo">
                <h1>Programa AirPod Para Sempre</h1>
            </div>

            <div class="grid-um">

                <div class="caixa um">
                    <h2>TÍTULO DE APRESENTAÇÃO DO PROGRAMA</h2>
                    <p> It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                        that it has a more-or-less normal distribution of letters, as opposed to using
                        'Content here, content here', making it look like readable English. Many desktop
                        publishing packages and web page editors now use Lorem Ipsum as their default model
                        text, and a search for 'lorem ipsum' will uncover many web sites still in their
                        infancy. Various versions have evolved over the years, sometimes by accident,
                        sometimes on purpose (injected humour and the like).
                    </p>
                </div>

                <div class="caixa-dois">
                    <img src="" alt="">
                </div>

            </div>

            <div class="grid-dois">

                <div class="caixa-dois">
                    <img src="" alt="">
                </div>

                <div class="caixa-um">
                    <h2>SUBTÍTULO DE APRESENTAÇÃO DO PROGRAMA</h2>
                    <p> It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                        that it has a more-or-less normal distribution of letters, as opposed to using
                        'Content here, content here', making it look like readable English. Many desktop
                        publishing packages and web page editors now use Lorem Ipsum as their default model
                        text, and a search for 'lorem ipsum' will uncover many web sites still in their
                        infancy. Various versions have evolved over the years, sometimes by accident,
                        sometimes on purpose (injected humour and the like).
                    </p>
                </div>

            </div>

        </div>

    </section>

    <section class="produtos">

        <div class="container">

            <div class="barra-titulo">
                <h1>Produtos</h1>
            </div>

            <section>

                <div class="produto">
                    <div class="back-prod">
                        <div class="img-prod">
                            <img src="/img/produtos/produto-1.png" alt="">
                        </div>

                        <div class="titulo-prod">
                            <h2>AirPods</h2>
                        </div>

                        <div class="desc-prod">
                            <p>2ª geração</p>
                        </div>

                        <div class="valor-prod">
                            <h3>R$ 499,00</h3>
                        </div>

                        <div class="button-prod">
                            <button>Saiba mais</button>
                        </div>
                    </div>

                    <div class="back-prod">
                        <div class="img-prod">
                        <img src="/img/produtos/produto-2.png" alt="">
                        </div>
                        <h2>AirPods</h2>
                        <p>3ª geração</p>
                        <h3>R$ 499,00</h3>
                        <button>Saiba mais</button>
                    </div>

                    <div class="back-prod">
                        <div class="img-prod">
                        <img src="/img/produtos/produto-3.png" alt="">
                        </div>
                        <h2>AirPods Pro</h2>
                        <p></p>
                        <h3>R$ 499,00</h3>
                        <button>Saiba mais</button>
                    </div>

                    <div class="back-prod">
                        <div class="img-prod">
                        <img src="/img/produtos/produto-4.png" alt="">
                        </div>
                        <h2>AirPods Max</h2>
                        <p></p>
                        <h3>R$ 499,00</h3>
                        <button>Saiba mais</button>
                    </div>
                </div>

            </section>

        </div>

    </section>

    <!-- <section class="clientes">

        <div class="container">

            <div class="barra-titulo">
                <h1>O que os nossos clientes estão falando</h1>
            </div>

            <section class="cliente">

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/alan-vitorino.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Alan Vitorino</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/allyson-fernandes.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Allyson Fernandes</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/danilo-reis.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Danilo Reis</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/igor-muller.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Igor Müller</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/felipe-carvalho.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Felipe Carvalho</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/myllena-lucena.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Myllena Lucena</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/silvio-fernandes.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Silvio Fernandes</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/allyson-fernandes.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Wendel Santos</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

            </section>

        </div>

    </section> -->

    <section class="newsletter">
        <div class="container">
            <div class="newsletter">
                <h2>Assine nossa Newsletter</h2>
                <input type="email" placeholder="Digite seu e-mail">
                <button>Cadastrar</button>
            </div>
        </div>
    </section>

    <footer>

        <div class="container">

            <div class="part">

                <section>
                    <ul>
                        <h2>Nossos Produtos</h2>
                        <li><a href="descricaoProduto.html">Produto 1</a></li>
                        <li><a href="">Produto 2</a></li>
                        <li><a href="">Produto 3</a></li>
                        <li><a href="">Produto 4</a></li>
                    </ul>
                </section>

                <section>
                    <ul>
                        <h2>Sobre a Nossa Empresa</h2>
                        <li><a href="sobre-nos.html">Sobre nós</a></li>
                        <li><a href="termos-e-condicoes.html">Termos e Condições</a></li>
                        <li><a href="politica-de-privacidade.html">Política de Privacidade</a></li>
                        <li><a href="entrega-produtos.html">Entrega dos Produtos</a></li>
                    </ul>
                </section>

                <section>
                    <ul>
                        <h2>Fale Conosco</h2>
                        <li><a href="tel:11900000000">Tel.: +55 (11) 90000-0000</a></li>
                        <li><a href="mailto:contato@empresax.com.br">E-mail: contato@empresax.com.br</a></li>
                    </ul>
                </section>

                <section>
                    <div class="bandeiras">
                        <ul>
                            <li><img src="/img/icons/mastercard.png" alt=""></li>
                            <li><img src="/img/icons/visa.png" alt=""></li>
                            <li><img src="/img/icons/elo.png" alt=""></li>
                            <li><img src="/img/icons/amex.png" alt=""></li>
                        </ul>
                    </div>
                </section>

            </div>

        </div>

    </footer>

    <div class="rodape">
        <div class="container">
            <p> Empresa de Comercios de Fones de Ouvido LTDA. CNPJ 00.000.000/1000-57
                Av. Domingos Odália Filho, 5000 - Osasco, São Paulo/SP - 00000-000
            </p>
        </div>
    </div>

</body>

</html>