<%- include('./partials/head') %>

    <section class="banner">
        <div class="carousel">
            <img src="/images/carousel/img-1.jpg" alt="">
            <div class="controls">
                <button><img src="/images/icons/left.png" alt=""></button>
                    <div class="container">
                        <h2>AirPods</h2>
                        <h3>2ª Geração</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <a href="termos-e-condicoes" class="saiba-mais">Saiba mais </a>
                    </div>
                <button><img src="/images/icons/right.png" alt=""></button>
            </div>
        </div>

        <!-- <div class="carousel">
            <img src="/img/carrossel/img-2.png" alt="">
            <div class="controls">
                <button><img src="/img/icons/left.png" alt=""></button>
                    <div class="container">
                        <h2>AirPods</h2>
                        <h3>3ª Geração</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button>Saiba mais</button>
                    </div>
                <button><img src="/img/icons/right.png" alt=""></button>
            </div>
        </div> -->

        <!-- <div class="carousel">
            <img src="/img/carrossel/img-3.png" alt="">
            <div class="controls">
                <button><img src="/img/icons/left.png" alt=""></button>
                    <div class="container">
                        <h2>AirPods Pro</h2>
                        <br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <button>Saiba mais</button>
                    </div>
                <button><img src="/img/icons/right.png" alt=""></button>
            </div>
        </div> -->

    </section>

    <section class="programa">

        <div class="container">

            <div class="barra-titulo">
                <h1>Programa AirPod Para Sempre</h1>
            </div>

            <div class="grid-um">

                <div class="caixa-um">
                    <h2>Programa iPods Para Sempre</h2>
                    <p> It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                        that it has a more-or-less normal distribution of letters, as opposed to using
                        'Content here, content here', making it look like readable English. Many desktop
                        publishing packages and web page editors now use Lorem Ipsum as their default model
                        text, and a search for 'lorem ipsum' will uncover many web sites still in their
                        infancy. Various versions have evolved over the years, sometimes by accident,
                        sometimes on purpose (injected humour and the like). Various versions have evolved over the years, sometimes by accident,
                        sometimes on purpose (injected humour and the like).
                    </p>
                </div>

                <div class="caixa-dois">
                    <img src="/images/apresentacao/image-1.jpg" alt="">
                </div>

            </div>

            <div class="grid-dois">

                <div class="caixa-dois">
                    <img src="/images/apresentacao/image-2.jpg" alt="">
                </div>

                <div class="caixa-um">
                    <h2>Como aderir?</h2>
                    <p> It is a long established fact that a reader will be distracted by the readable
                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                        that it has a more-or-less normal distribution of letters, as opposed to using
                        'Content here, content here', making it look like readable English. Many desktop
                        publishing packages and web page editors now use Lorem Ipsum as their default model
                        text, and a search for 'lorem ipsum' will uncover many web sites still in their
                        infancy. Various versions have evolved over the years, sometimes by accident,
                        sometimes on purpose (injected humour and the like). Various versions have evolved over the years, sometimes by accident,
                        sometimes on purpose (injected humour and the like). Various versions have evolved over the years, sometimes by accident,
                        sometimes on purpose (injected humour and the like).
                    </p>
                </div>

            </div>

        </div>

    </section>

    <section class="produtos">

        <div class="container">

            <div class="barra-titulo">
                <h1>Produtos</h1>
            </div>

            <section>

                <div class="produto">
                    <div class="back-prod">
                        <div class="img-prod">
                            <img src="/images/produtos/produto-1.png" alt="">
                        </div>

                        <div class="titulo-prod">
                            <h2>AirPods</h2>
                        </div>

                        <div class="desc-prod">
                            <p>2ª geração</p>
                        </div>

                        <div class="valor-prod">
                            <h3>R$ 499,00</h3>
                        </div>

                        <div class="button-prod">
                            <a href="descricaoProduto/1" > Saiba Mais </a>
                        </div>
                    </div>

                    <div class="back-prod">
                        <div class="img-prod">
                        <img src="/images/produtos/produto-2.png" alt="">
                        </div>
                        <h2>AirPods</h2>
                        <p>3ª geração</p>
                        <h3>R$ 499,00</h3>
                        <a href="descricaoProduto/2" > Saiba Mais </a>
                    </div>

                    <div class="back-prod">
                        <div class="img-prod">
                        <img src="/images/produtos/produto-3.png" alt="">
                        </div>
                        <h2>AirPods Pro</h2>
                        <p></p>
                        <h3>R$ 499,00</h3>
                        <a href="descricaoProduto/3" > Saiba Mais </a>
                    </div>

                    <div class="back-prod">
                        <div class="img-prod">
                        <img src="/images/produtos/produto-4.png" alt="">
                        </div>
                        <h2>AirPods Max</h2>
                        <p></p>
                        <h3>R$ 499,00</h3>
                        <a href="descricaoProduto/4" > Saiba Mais </a>
                    </div>
                </div>

            </section>

        </div>

    </section>

    <section class="clientes">

        <div class="container">

            <div class="barra-titulo">
                <h1>O que os nossos clientes estão falando</h1>
            </div>

            <section class="cliente">

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/images/clientes/alan-vitorino.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Felipe Carvalho</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/images/clientes/allyson-fernandes.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Igor Müller</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/images/clientes/danilo-reis.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Myllena Lucena</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/images/clientes/igor-muller.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Silvio Fernandes</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <!-- <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/felipe-carvalho.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Felipe Carvalho</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/myllena-lucena.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Myllena Lucena</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/silvio-fernandes.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Silvio Fernandes</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div>

                <div class="div-cliente">

                    <div class="img-profile">
                        <img src="/img/clientes/allyson-fernandes.png" alt="">
                    </div>

                    <div class="nome-cliente">
                        <h2>Wendel Santos</h2>
                    </div>

                    <div class="comentario-cliente">
                        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”
                        </p>
                    </div>

                </div> -->

            </section>

        </div>

    </section>

    <section class="newsletter">
        <div class="container">
            <div class="newsletter">
                <h2>Assine nossa Newsletter</h2>
                <form action="" class="cadastrar-newsletter">
                    <input type="email" placeholder="Digite seu e-mail">
                    <button>Cadastrar</button>
                </form>
            </div>
        </div>
    </section>

<%- include('./partials/footer') %>