
<%- include('./partials/head') %>

<link rel="stylesheet" href="/stylesheets/style.css">


<body class="login">
    

<main class="container">
    <h1>Entre para acessar nossos serviços. </h1>
    
    
    <section class="login">
        <div id="area-form">
            <form id="formulario" autocomplete="off">
                <div class="campos-login">
                    <label> Email: </label><input class="campo-email" type="email">
                    <label> Senha: </label><input class="campo-senha" type="password">
                    <label> Lembrar-me</label><input class="lembrar-me" type="checkbox">
                    <button class="finalizar-cadastro">
                        <a href="pagina-usuario"> Fazer login </a>
                    </button>
                </div>
        </div>
    </section>

    <section class="cadastro">
        <div>
            <button class="fazer-cadastro">
                <a href="cadastro"> Fazer seu cadastro </a>
            </button>
        </div>
    </section>

</main>
</body>

<%- include('./partials/footer') %>