<%- include('./partials/head')   %> 

<link rel="stylesheet" href="/stylesheets/style.css">

<body>
    <content class="paineis">
        <div class="painel-esquerdo">
            <div class="foto-usuario"> 
                <img src="/images/clientes/alan-vitorino.png" alt="">
            </div>

            <h4 class="nome-usuario">
                Frank Sinatra
            </h4>

            <div class="cadastro">
                <img src="/images/icons/user.png" alt="" height="30px" width="30px">
                Meu cadastro </div>

            <div class="assinatura"> 
                <img src="/images/icons/shopping.png" alt="" height="30px" width="30px">
                Minhas assinaturas</div>

                <div class="sair-usuario">
                    <img src="" alt="">
                    <button>
                        <a href="login"> Sair </a>
                    </button>
                </div>
        </div>

        

        <div class="painel-direito">
            <h2> Assinaturas em andamento</h2>
            
            <div class="produtos-assinados">
                <img src="/images/produtos/produto-4.png" alt="">
            </div>

            <div class="botoes-produto">
            <button class="btn-alterar" wid> Alterar </button>
            <button class="btn-cancelar"> Cancelar </button>
            </div>    
        
        </div>
    </content>







</body>


<%- include('./partials/footer') %>