<%- include('./partials/head') %>

<div class="container">
    <section class="barra-pesquisa">
        
        <a href="#" class="barra-texto">
            <img src="/images/icons/search.png" alt="Lupa">
        </a>
    </section>
    
    <section class="produtoslistagem">
        <div class="produto-1">
            <div class="img-prod">
                <img src="/images/produtos/produto-1.png" alt="">
            </div>
            <div class="titulo-prod">
                <h1>Aipods</h1>
            </div>
            <div class="geracao-prod">
                <h4>2ª geração</h4>
            </div>
            <div class="valor-prod">
                <h1>R$499,00</h1>
            </div>
            <div class="parcelar-prod">
                <p>Ou em 10x de R$49,90</p>
            </div>
            <button class="saiba-mais">
                Saiba mais
            </button>
        </div>
        <div class="produto-2">
            <div class="img-prod">
                <img src="/images/produtos/produto-3.png" alt="">
            </div>
            <div class="titulo-prod">
                <h1>Aipods</h1>
            </div>
            <div class="geracao-prod">
                <h4>3ª geração</h4>
            </div>
            <div class="valor-prod">
                <h1>R$499,00</h1>
            </div>
            <div class="parcelar-prod">
                <p>Ou em 10x de R$49,90</p>
            </div>
            <button class="saiba-mais">
                Saiba mais
            </button>
        </div>
        <div class="produto-3">
            <div class="img-prod">
                <img src="/images/produtos/produto-4.png" alt="">
            </div>
            <div class="titulo-prod">
                <h1>Aipods</h1>
            </div>
            <div class="geracao-prod">
                <h4>Nova geração</h4>
            </div>
            <div class="valor-prod">
                <h1>R$499,00</h1>
            </div>
            <div class="parcelar-prod">
                <p>Ou em 10x de R$49,90</p>
            </div>
            <button class="saiba-mais">
                Saiba mais
            </button>
        </div>
        <div class="produto-4">
            <div class="img-prod">
                <img src="/images/produtos/produto-2.png" alt="">
            </div>
            <div class="titulo-prod">
                <h1>Aipods</h1>
            </div>
            <div class="geracao-prod">
                <h4>Nova geração</h4>
            </div>
            <div class="valor-prod">
                <h1>R$499,00</h1>
            </div>
            <div class="parcelar-prod">
                <p>Ou em 10x de R$49,90</p>
            </div>
            <button class="saiba-mais">
                Saiba mais
            </button>
        </div>
        <div class="produto"></div>
        <div class="produto"></div>
        <div class="produto"></div>
    </section>

</div>


<%- include('./partials/footer') %>