<%- include('./partials/head') %>

<div class="container">
    <section class="barra-pesquisa">
        <input type="text" class = "barra-pesquisa" placeholder="Qual fone você busca?">
        <a href="#" class="barra-texto">
            <img src="/images/icons/search.png" alt="Lupa">
        </a>
    </section>
    <section class="teste">
        <div class="produto-1">
            <div class="img-prod">
                <img src="/images/produtos/produto-1.png" alt="" width="85%" height="90%">
            </div>
            <div class="titulo-prod">
                <h1>Aipods</h1>
            </div>
            <div class="geracao-prod">
                <h4>2ª geração</h4>
            </div>
            <div class="valor-prod">
                <h1>R$499,00</h1>
            </div>
            <div class="parcelar-prod">
                <p>Ou em 10x de R$49,90</p>
            </div>
            <button class="saiba-mais">
                Saiba mais
            </button>
        </div>
        <div class="produto-2">
            <div class="img-prod">
                <img src="/images/produtos/produto-1.png" alt="" width="85%" height="90%">
            </div>
            <div class="titulo-prod">
                <h1>Aipods</h1>
            </div>
            <div class="geracao-prod">
                <h4>3ª geração</h4>
            </div>
            <div class="valor-prod">
                <h1>R$499,00</h1>
            </div>
            <div class="parcelar-prod">
                <p>Ou em 10x de R$49,90</p>
            </div>
            <button class="saiba-mais">
                Saiba mais
            </button>
        </div>
        <div class="produto-2">
            <div class="img-prod">
                <img src="/images/produtos/produto-1.png" alt="" width="85%" height="90%">
            </div>
            <div class="titulo-prod">
                <h1>Aipods</h1>
            </div>
            <div class="geracao-prod">
                <h4>Nova geração</h4>
            </div>
            <div class="valor-prod">
                <h1>R$499,00</h1>
            </div>
            <div class="parcelar-prod">
                <p>Ou em 10x de R$49,90</p>
            </div>
            <button class="saiba-mais">
                Saiba mais
            </button>
        </div>
        <div class="produto"></div>
        <div class="produto"></div>
        <div class="produto"></div>
    </section>

    <section class="newsletter">
        <div class="container">
            <div class="newsletter">
                <h2>Assine nossa Newsletter</h2>
                <input type="email" placeholder="Digite seu e-mail">
                <button>Cadastrar</button>
            </div>
        </div>
    </section>

</div>




<%- include('./partials/footer') %>