<%- include('./partials/head') %>

<div class="container">

<section>
    <input type="text" placeholder="Qual fone você busca?">
</section>

<section>
    <div class="produto">
        <div class="img-prod">
            <img src="" alt="">
        </div>
        <div class="titulo-prod">
            <h1>Aipods</h1>
        </div>
        <div class="geracao-prod">
            <h4>2ª geração</h4>
        </div>
        <div class="valor-prod">
            <h1></h1>
        </div>
    </div>
    <div class="produto"></div>
    <div class="produto"></div>
    <div class="produto"></div>
</section>



</div>








<%- include('./partials/footer') %>