<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span id="idProduto">1</span>
    <h1 id="tituloProduto">Titul do produto</h1>
    <p>Preço: <span id="precoProduto">R$ 200.00</span></p>
    <a href="#" id="botaoComprar">Comprar</a>
    <script type="text/javascript" src="./produto.js"></script>
</body>
</html>