<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/politicas.css">

        <title>Sobre Nós</title>

    </head>

    <body>

        <header>
            <div class="container">

                <div class="logotipo">
                    <a href="index.html"><p>LOGOTIPO</p></a>
                </div>

                <nav>
                    <ul>
                        <li><a href="">LINK1</a></li>
                        <li><a href="">LINK2</a></li>
                        <li><a href="">LINK3</a></li>
                        <li><a href="">LINK4</a></li>
                        <li><a href="">LINK5</a></li>
                    </ul>
                </nav>

                <div class="icons">
                    <ul>
                        <li><a href=""><img src="/img/icons/search.png" alt=""></a></li>
                        <li><a href=""><img src="/img/icons/user.png" alt=""></a></li>
                        <li><a href=""><img src="/img/icons/shopping.png" alt=""></a></li>
                    </ul>
                </div>

            </div>
        </header>

        <section>
            <div class="container">
                <div class="barra-titulo">
                    <h1>Sobre Nós</h1>
                </div>

                <div class="texto">

                </div>
            </div>
        </section>

        <section class="newsletter">
            <div class="container">
                <h2>Assine nossa Newsletter</h2>
                <input type="email" placeholder="Digite seu e-mail">
                <button>Cadastrar</button>
            </div>
        </section>

        <footer>

            <div class="container">

                <div class="part">
                    <section>
                        <h2>Nossos Produtos</h2>
                        <ul>
                            <li><a href="">Acesso a página A</a></li>
                            <li><a href="">Acesso a página B</a></li>
                            <li><a href="">Acesso a página C</a></li>
                            <li><a href="">Acesso a página D</a></li>
                            <li><a href="">Acesso a página E</a></li>
                        </ul>
                    </section>

                    <section>
                        <h2>Sobre a Nossa Empresa</h2>
                        <ul>
                            <li><a href="sobre-nos.html">Sobre nós</a></li>
                            <li><a href="termos-e-condicoes.html">Termos e Condições</a></li>
                            <li><a href="politica-de-privacidade.html">Política de Privacidade</a></li>
                            <li><a href="entrega-produtos.html">Entrega dos Produtos</a></li>
                        </ul>
                    </section>

                    <section>
                        <h2>Fale Conosco</h2>
                        <ul>
                            <li><a href="tel:11900000000"></a>Tel.: +55 (11) 90000-0000</li>
                            <li><a href="mailto:contato@empresax.com.br">E-mail: contato@empresax.com.br</a></li>
                        </ul>
                    </section>

                    <section>
                        <ul>
                            <li><img src="/img/icons/mastercard.png" alt=""></li>
                            <li><img src="/img/icons/visa.png" alt=""></li>
                            <li><img src="/img/icons/elo.png" alt=""></li>
                            <li><img src="/img/icons/amex.png" alt=""></li>
                        </ul>
                    </section>

                </div>

                <div class="rodape">
                    <p>
                    Empresa de Comercios de Fones de Ouvido LTDA. CNPJ 00.000.000/1000-57
                    Av. Domingos Odália Filho, 5000 - Osasco, São Paulo/SP - 00000-000
                    </p>
                </div>

            </div>

        </footer>

    </body>

</html>