<%- include('./partials/head') %>

        <section>
            <div class="container">
                <div class="barra-titulo">
                    <h1>Termos e Condições</h1>
                </div>

                <div class="texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto, beatae doloremque dicta sed deserunt quam quaerat facere alias commodi ipsum consectetur repudiandae, a expedita asperiores! Eaque maxime quasi adipisci pariatur, et nostrum? Repellendus amet voluptatibus unde animi necessitatibus pariatur assumenda doloribus quod consequatur modi, perspiciatis accusantium earum ipsum eius. Incidunt, laudantium culpa itaque non quos rem? Libero eligendi officiis facere itaque est, accusantium cupiditate iure corporis impedit doloremque nobis recusandae exercitationem sed maiores sapiente necessitatibus nemo reiciendis. Impedit, dolorum possimus. Tenetur sapiente quos odio, possimus unde aspernatur, officiis ratione quisquam enim eius voluptatum, voluptas officia nisi qui recusandae iste vero voluptatibus quasi? Fugiat, quam earum dignissimos odit soluta similique ullam dolorum, eum culpa vel dolores quas ducimus numquam blanditiis error! Ipsa, obcaecati! Autem, voluptatem? Quos exercitationem laudantium voluptatibus assumenda temporibus sunt velit, autem architecto ratione repellat et. Ullam inventore impedit illum laudantium, fugiat voluptas cupiditate, sint placeat laborum aspernatur consequuntur ab. Culpa ut dolorum, earum doloremque fugiat perspiciatis illum labore aliquid sint nulla nesciunt cumque et, atque voluptatem? Quaerat magni suscipit rem sequi a doloremque? Illo fugiat corporis libero quia rem ipsam unde dignissimos aperiam labore atque repellendus vitae, non rerum odit perferendis sit esse? Cumque illum modi quidem officiis quae sapiente quod aperiam! Tempora optio exercitationem veritatis enim, officiis voluptas reprehenderit repudiandae neque repellat ea, quas excepturi ipsam! Iste quod delectus, adipisci ipsam numquam eos. Ullam corporis sapiente tempora similique, ex illum inventore praesentium dolor veritatis, aspernatur repellendus at a omnis. Aspernatur ipsum aut beatae repudiandae laudantium adipisci, obcaecati repellendus reprehenderit, nemo blanditiis consequatur dolore rerum a tempore rem tempora cupiditate natus quo? Impedit, consequatur quae consectetur ea reprehenderit quidem debitis praesentium! Necessitatibus illo corrupti quibusdam consectetur nulla fugiat possimus velit aut at aspernatur maiores repellat accusantium amet consequatur sit minima eaque sint voluptate libero, saepe totam vero explicabo quas? Ab nemo vitae impedit esse laboriosam! Repellat aut dicta quis reprehenderit exercitationem quisquam, hic excepturi perspiciatis quaerat! Minima odit sit ex libero vel illum qui magnam, quas, tempore quia repudiandae possimus nulla fuga ullam fugit autem. Corrupti repudiandae eligendi nesciunt praesentium aspernatur? Iste provident laudantium accusantium magni, nulla corporis ad recusandae dicta, animi facere dolorem exercitationem natus soluta labore sequi ratione. Soluta, voluptatem, a tempore eaque vero ipsum alias laborum rerum quidem porro temporibus perspiciatis ab culpa unde animi voluptatum impedit, repellat eum? Quo asperiores molestiae sint nam ipsam assumenda. Obcaecati commodi, quod, assumenda reiciendis perspiciatis fuga facere totam exercitationem labore vero expedita quia fugiat et cupiditate debitis officiis aperiam? Porro voluptatum inventore deserunt ipsam nihil eveniet! Minima odit voluptas beatae quod veritatis cupiditate illum! Cumque est expedita nemo. Sequi adipisci facere exercitationem possimus nemo natus doloremque iusto ut voluptate earum molestias reprehenderit repudiandae ipsam aliquam vel similique iure delectus reiciendis ex, sint distinctio architecto commodi. Voluptate velit porro quae, ab consequatur quidem impedit ipsa hic minima voluptas, perspiciatis quisquam adipisci aperiam possimus neque atque facere vitae cumque placeat. Voluptatum corrupti ipsam dolor tenetur! Recusandae nulla nisi dolorem repudiandae soluta alias architecto ullam. Soluta, quidem. Dolorum, ipsum corporis!
                </div>
            </div>
        </section>

        <section class="newsletter">
            <div class="container">
                <div class="newsletter">
                    <h2>Assine nossa Newsletter</h2>
                    <input type="email" placeholder="Digite seu e-mail">
                    <button>Cadastrar</button>
                </div>
            </div>
        </section>

<%- include('./partials/footer') %>