.container-dashboard {
    display: flex;
}

.atuact {
    width: 25%;
    height: 200px;

    margin: 0 auto;

    border: 2px solid #1D1D1F;
    border-radius: 25px;
}

.atuact a {
    color: #1D1D1F;
}

.content-table {
    border-collapse: collapse;
    margin: 15px 15px 50px 0;
    width: 100%;
    font-size: 0.9em;
    min-width: 700px;
    /* border-radius: 5px 5px 0 0; */
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    justify-content: center;
}

.content-table thead tr {
    background-color: #1D1D1F;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1D1D1F;
}

.content-table .button-editar {
    color: #1D1D1F;
    font-weight: bold;
}

.content-table .button-excluir {
    color: red;
    font-weight: bold;
}