*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

headerinferior{
    display: flex;
    justify-content: center;
    background-color: #222831;
    color: white;
}

.fone{
    margin-left: 140px;
    margin-right: 180px;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.fone p{
    max-width: 500px;
    margin-bottom: 150px;
    font-size: 28px;
}

body div p{
    word-break: break-all;
}

.fotosEProdutos{
    cursor: pointer;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    margin-right: 330px;
}

.cores{
    cursor: pointer;
    margin-top: -10%;
    justify-content: space-between;
    margin-left: 20%;  
}

.imgfone{
    cursor: pointer;
    display: flex;
    justify-content: left;
    padding: 15%;
    background-color: #EEEEEE
}

.valor{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 28px;
    color: #222831;
    margin-left: 200px;
    background-color: #222831;
    margin-right: 1030px;
    border-radius: 15px;
    color: white;
    max-width: 300px;
    
}

.adicionarCarrinho{
    display: flex;
    justify-content: center;
    background-color: #D65A31; 
    color: white;
    padding: 2%;
    max-width: 360px;
    margin-left: 900px;
    margin-bottom: 150px;
    border-radius: 15px;
    margin-top: 100px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;

}




/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!Aqui estou importando o header e footer que utilizaremos no site inteiro.!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!



/* Header */

header {
    background-color: #1D1D1F;
    box-sizing: border-box;
    padding: 20px;
}

.area-do-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    padding-left: 35px;
}

.icons ul {
    display: flex;
    align-items: center;
}

.nav-links
.icons, li, a {
    list-style: none;
    text-decoration: none;
}

.nav-links a {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
}

.icons img {
    width: 25px;
}

.headerinferior{
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
    font-size: large;
    padding: 10px;
    font-weight: bold;
    
}
/* Área do Footer */

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
    height: 100px;
}

.newsletter h2 {
    font-size: 15px;
    font-weight: 500;
}

.newsletter input {
    margin-left: 40px;
    height: 35px;
    border: none;
}

.newsletter button {
    background-color: #D65A31;
    color: #FFFFFF;
    width: 80px;
    height: 37px;
    border: none;
}

/* Área do Footer */

footer {
    background-color: #1D1D1F;
    color: #FFFFFF;
}

.part {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.part h2 {
    font-weight: 500;
    font-size: 15px;
}

.part a {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 300;
}

.bandeiras ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bandeiras li {
    padding-left: 10px;
    align-items: center;
}

.rodape {
    background-color: #222831;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    font-weight: 100;
}