/* Definicao da Letra */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

/* Configuracao da Pagina e Container */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1180px;
    
}

/* Header */

header {
    width: 100%;
    background-color: #1D1D1F;
    box-sizing: border-box;
}

header .logotipo img {
    width: 40px;
}

.area-do-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    padding-left: 35px;
}

.icons ul {
    display: flex;
    align-items: center;
}

.nav-links
.icons, li, a {
    list-style: none;
    text-decoration: none;
}

.nav-links a {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 12px;
}

.icons img {
    width: 25px;
}

/* Área do Carrossel */

/* section.banner .carousel>img{
    width: 100%;
}

section.banner .carousel{
    position: relative;
}

section.banner .carousel .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    
}


section.banner .carousel .controls button {
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 85px;
    height: 100%;
    margin: 20px;
    cursor: pointer;
 
}

section.banner .carousel .controls button img {
    width: 30px;
}

.texto-geracao {
    display: flex;
    justify-content: left;
    justify-items: flex-start;
} */

/* Área dos Títulos */

.barra-titulo {
    text-align: center;
    font-weight: 350;
    font-size: 22px;
    height: 60px;
    margin: 60px;
    justify-content: center;
    display: flex;
}

/* Área de Apresentação */

.grid-um,
.grid-dois {
    display:flex;
    justify-content:space-between;
    align-items: flex-start;

}

.caixa-um {
    width: 550px;
    height: 300px;
    margin-bottom: 5px;
    
}

.grid-um,
.grid-dois p {
    text-align: justify;

}

.grid-um img {
    width: 550px;
    height: 300px;
}

.grid-dois img {
    width: 550px;
    height: 300px;
}

/* Área dos Produtos */

.saiba,
.saiba-mais,
.produto a{
    background-color: #D65A31;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 25px;
    cursor: pointer;
    position: static;

}

.img-prod {

    width: 209px auto;
    height: 235px;
    align-items: center;
}

.produto img {    

    margin: 1px auto;
    height: auto;
}

.back-prod {

    align-items: center;
    width: 250px;
    height: 450px;
    padding: 25px;
    justify-content: center;
}

.valor-prod {
    justify-content: center;
    align-items: center; 
}

.produto {
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}


.produto p {
    height: 25px;
}


.produto {
    display: flex;
    justify-content: space-between;
}

/* Área dos Clientes */

.cliente {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.div-cliente {

    width: 25%;
    margin: 10px;

    display: grid;

    align-items: center;
    justify-content: space-between;
}

.img-profile {
    align-items: center;
    justify-content: space-between;
}

.img-profile img {
    margin-left: 60px;
    border-radius: 150px;
    width: 150px;
    height: 150px;
}

.nome-cliente {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
}

.comentario-cliente {
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
}

/* Área do Newsletter */

.newsletter {
    background-color: #C4C4C4;
    display: flex;
    height: 100px;

    align-items: center;
    justify-content: center;
}

.newsletter h2 {
    margin: 30px;
}

.newsletter input {
    height: 30px;
    border: 1px solid #D65A31;
}

.newsletter button {
    border: 1px solid #D65A31;
    background-color: #D65A31;
    height: 34px;
    font-weight: bold;
    cursor: pointer;
}

/* Área do Footer */

footer {
    background-color: #1D1D1F;
    color: #FFFFFF;
}

.part {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.part h2 {
    font-weight: 500;
    font-size: 15px;
}

.part a {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 300;
}

.bandeiras ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bandeiras li {
    padding-left: 14px;
    align-items: center;
}

.rodape {
    background-color: #222831;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    font-weight: 100;
    justify-content: space-around;
    align-items: center;
    height: 20px;
}

.paineis{
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    
}

.painel-esquerdo{
    background-color: #C4C4C4;
    width: 250px;
    height: 600px;
    margin-right: 65px;
    justify-content:center;
}

.foto-usuario img{
    margin-left: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.cadastro{
    margin-top: 60px;
    margin-bottom: 30px;
}


.assinatura,
.cadastro{
    display: flex;
    justify-content: left;
}

.produtos-assinados img{
margin-top: 15px;
margin-left: 10px;
}

.btn-alterar{
    margin-left: 10px;
}

.btn-cancelar{
    color: white;
    background-color: #D65A31;
    cursor: pointer;
    margin-top: 140px;
    margin-right: 15px;
    width: 100px;
    height: 35px;
    border-radius: 15px;
}
.btn-alterar{
    color: white;
    background-color: #222831;
    cursor: pointer;
    margin-top: 140px;
    margin-right: 15px;
    width: 100px;
    height: 35px;
    border-radius: 15px;
}

.nome-usuario{
    margin-left: 35px;
}

.sair-usuario button{
    margin-left: 30%;
    border-radius: 15px;
    margin-top: 130px;
    background-color: #D65A31;
    width: 80px;
}


/* Criação CSS da página Descrição do Produto */


.lado-esquerdo{
    max-width: 40%;
    margin-left: 10%;
    justify-content: left;
    margin-bottom: 0%;
}

.lado-direito{
    max-width: 40%;
    margin-left: 10%;
    justify-content: left;
}

body container section h2{
    display: flex;
    justify-content: center;
}

.foto-principal{
    margin-left: 15%;
}

.area-pagina{
    margin: 5%;
    display: flex;
    
}

.fotos-secundarias-fone{
    display: flex;
    justify-content: center;
}


.finalizar{
    height: 5vh;
    width: 20vh;
    margin-bottom: 5vh;
    margin-left: 80%;
    background-color: #D65A31;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
}

.finalizar:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

.valor{
    margin-top: 5vh;
}

.teste{
    display: flex;
    justify-content: center;
}

.produto,
.titulo-prod,
.geracao-prod,
.valor-prod {
    text-align: center;
}

.produto-1,
.produto-2,
.produto-3{
    padding: 5%;
    justify-content: space-between;
    justify-content: center;
    max-width: fit-content;
}

.saiba-mais{
    height: 5vh;
    width: 20vh;
    margin-bottom: 5vh;
    background-color: #D65A31;
    /* box-shadow: #094C66 4px 4px 0px; */
    border-radius: 8px;
    /* transition: transform 200ms, box-shadow 200ms; */
}

/* .saiba-mais:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094C66 0px 0px 0px;
} */

/* .saiba-mais-1 {
    background-color: #D65A31;
    padding: 10px;
    height: 5vh;
    width: 20vh;
    box-shadow: #094C66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms; 
    
}

.saiba-mais-1:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #094C66 0px 0px 0px;
} */

.barra-pesquisa{
   margin: 5%;
   height: 3vh;
   width: 24vw;
   left: 1%;
   border-radius: 30px;
   margin-left: 12%;

}

.barra-texto{
    position: absolute;
    top: 12%;
    left: 56%;
    transform: translate(-50%, 50%);
    background: #D65A31;
    height: 30px;
    padding: 10px;
    border-radius: 40px;
    justify-content: space-between;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    
}

.input-login-email{
    margin-left: 40%;
    margin-top: 5%;
    
}

.input-login-senha{
    margin-left: 40%;
    margin-top: 5%;

}

#formulario{
    margin-top: 8%;
    display: flex;

}

.campos-login{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}

.finalizar-cadastro{
    height: 5vh;
    width: 20vh;
    background-color: #D65A31;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 10px;
    transition: transform 200ms, box-shadow 200ms;
    margin-top: 15%;
}

.finalizar-cadastro:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

.campo-email{
    margin-top: 5%;
}
.campo-senha{
    margin-top: 5%;
}

.fazer-cadastro{
    height: 5vh;
    width: 20vh;
    background-color: white;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
    margin-top: 15%;
    margin-left: 500%;
}

.fazer-cadastro:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

.cadastro-usuario{ 
    display: flex;
    justify-content: center;
    flex-direction: column ;
}

.campos-cadastro{
    margin-left: 45%;

    display: flex;
    flex-direction: column;
    
}

#data-nascimento{
    width: 800px;
}

#campo-email,
#campo-senha,
#data-nascimento,
#cidade,
#estado,
#endereco,
#telefone{
    width: 30%;
    height: 45%;
    margin-bottom: 2%;
}


.terminar-cadastro{
    height: 5vh;
    width: 20vh;
    background-color:#D65A31;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
    margin-top: 2%;
    margin-left: 45%;
    margin-bottom: 5%;
}

.terminar-cadastro:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

h3{
    margin-left: 35%;
    height: 0%;
    display: inline-flex;

}

.caixa-login,
.caixa-cadastro{
    width: 65vh;
    height: 65vh;
    background-color:#C4C4C4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 5vh;
    box-shadow: black 2px 2px 2px;
    justify-content: center;
}

.body-login{
    background-color: #EEEEEE;

}

.conteudo-login{
    margin-left: 5%;
    margin-top: 15%;
}

#titulo-login{
    margin-top: 5%;
}

form{
    margin-left: 30%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around, 40px;
    width: 25%;
    
}

.acesso-email,
.acesso-nome,
.acesso-senha,
.botao-acesso,
.acesso-avatar{
    margin-top: 7%;
    border-radius: 5px;
    height: 55px;
    width: 60%;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;

}

.danger{
    color: red;
    font-size: 0,5vh;
}

.parte-baixo{
    margin-top: 13%;
    margin-left: 18%;
    font-size: 18px;    
}

#finalizar-cadastro{
    height: 10vh;
    width: 20vh;
    background-color: #D65A31;
    border-radius: 10px;
    transition: transform 200ms, box-shadow 200ms;
    margin-top: 50%;
    margin-left: 35%;
    font-size: 18px;
    font-weight: 500;
    color: #1D1D1F;
    
}

#finalizar-cadastro:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

.imagem1,
.imagem2,
.imagem3{
    margin-left: 25vh;
    width: 150vh;
}

.container1,
.container2,
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto1,
.texto2,
.texto3{
    background-color: #C4C4C4;
    width: fit-content;
    border-radius: 2vh;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-top: 5%;
}


.btn-cancelarProduto{
    color: white;
    background-color: #D65A31;
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    margin-left: 15%;
}
.btn-alterarProduto{
    color: white;
    background-color: #222831;
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    margin-left: 25%;
    margin-bottom: 2%;
}

.valorfinal{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120vh;
    margin-left: 35vh;
    margin-bottom: 5%;
}

.textofinal{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120vh;
    margin-left: 35vh;
    margin-bottom: 7%;
}

.finalizarPedido{
    height: 10vh;
    width: 50vh;
    margin-left: 70vh;
    cursor: pointer;
    font-style: bold;
    font-size: xx-large;
    margin-bottom: 5vh;
    background-color: #D65A31;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
}

.finalizarPedido:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

.pedido_concluido{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lorem_pedido{
    margin-top: 5vh;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vh;
    margin-left: 60vh;
    margin-bottom: 15vh;
}

.infos-entrega{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10%;
}

.pagina-usuario{
    font-weight: bolder;

}

/* Teste da Partials Produtos */

.area-produtos {
    display: flex;
}

.produto {

    box-sizing: border-box;

    display: grid;

    width: 25%;

    margin: 10px;

    align-items: center;
    justify-content: space-around;
}

.titulo-produto h1 {
    font-size: 20px;
    margin: 10px;
}

.subtitulo-produto {
    height: 50vh auto;
}

.subtitulo-produto h4 {
    font-size: 14px;
    margin: 10px;
}

.valor-produto h1 {
    font-size: 20px;
    margin: 10px;
}

.parcela-produto p {
    font-size: 12px;
    margin: 10px;
}

.button-produto button {
    border: none;
    border-radius: 10px;

    font-weight: bold;
    background-color: #D65A31;
    color: #1D1D1F;

    padding: 15px;
    width: 100%;

    cursor: pointer;
}

/* Teste da Partials Área do Carrossel */

section.banner .carousel>img{
    width: 100%;
}

section.banner .carousel{
    position: relative;
}

section.banner .carousel .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    
}


section.banner .carousel .controls button {
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 85px;
    height: 100%;
    margin: 20px;
    cursor: pointer;
}

section.banner .carousel .controls button img {
    width: 30px;
}

.saiba-mais button {
    background-color: #D65A31;
}

/* Teste do Banner */

.carousel-container {
    width: 60%;
    margin: auto;

    border: 2px solid black;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

/* Teste Tela de Login */

.container-login {
    display: flex;

    align-items: left;
    justify-content: left;

    width: 100%;
}

.area {
    width: 50%;
    margin: 50px;
}

.area-subtitulo {
    text-align: left;
    font-size: 10px;
}

.area-texto {
    text-align: justify;
}

.area-email,
.area-senha {
    width: 100%;
}

.area-email,
.area-senha, label {
    font-weight: bold;
}

.area a {
    color: #1D1D1F;
}

.area input {
    border: 1px solid #C4C4C4;
    width: 60%;
    height: 30px;
    padding-left: 7px;
    margin: 10px 0 10px 0;
}

.area button {
    font-weight: bold;
    border: 1px solid #D65A31;
    background-color: #D65A31;
    padding: 10px 30px 10px 30px;

    margin-top: 15px;

    cursor: pointer;
}

/* Teste Área Cadastrar Usuário */

.container-cadastrar {
    display: grid;

    margin: 0 auto;

    padding: 25px;
}

.titulo-cadastro-usuario {
    font-size: 25px;
    font-weight: bold;
    text-align: center;

    padding: 20px;
}

.subtitulo-cadastro-user {
    text-align: left;
}

.formulario-cadastro-usuario {

    width: 100%;
    margin: 0 auto;
    padding: 25px;

    align-items: right;
    justify-content: right;
}

.formulario-cadastro-usuario input {
    height: 30px;

    border: 1px solid #1D1D1F;

    margin-left: 15px;

    width: 85%;
}

.formulario-cadastro-usuario select {
    height: 35px;

    border: 1px solid #1D1D1F;

    margin-left: 15px;

    width: 85%;
}

.button-validarcep {
    background-color: #1D1D1F;
    border: 1px solid #1D1D1F;

    color: #EEEEEE;
    font-weight: bold;

    cursor: pointer;
}

.area-formulario label {
    font-weight: 400;
    color: black;
}

.cadastro-teste {
    display: flex;

    align-items: right;
    justify-content: right;

    margin: 15px;
}

.cadastro-teste-ext {
    display: flex;

    align-items: right;
    justify-content: right;

    margin: 15px;
}

.cadastro-teste-ext input {
    width: 80%;
}

.button-cadastraruser {
    background-color: #1D1D1F;
    border: 1px solid #1D1D1F;

    color: #EEEEEE;
    font-weight: bold;

    padding: 10px 25px 10px 25px;

    cursor: pointer;
}

/*Área teste Procurar*/

.barra-pesquisar {   
    margin: 0;
    height: 30vh;
    width: 100vw;


}

.texto-pesquisa {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(50%, -50%);

    padding: 1px;
    height: 34px;

}

