<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/mobile-last.css">

    <link rel="shortcut icon" href="/images/favicon.ico" />

    <script src="/mobile-navbar.js"></script>

    <title> Programa AirPods Para Sempre </title>

</head>

<body>
    
    <header>

        <div class="container">

            <div class="area-do-header">
                <div class="logotipo">
                    <a href="/dashboard"><img src="/images/logotipo.png" alt=""></a>
                </div>

                <nav>
                    <div class="nav-links">
                        <ul>
                            <li><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/vendas">Vendas</a></li>
                            <li><a href="/admin/produtos">Produtos</a></li>
                            <li><a href="/admin/clientes">Clientes</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="icons">
                    <ul>
                        <li><a href="/procurar"><img src="/images/icons/logout.png" alt=""></a></li>
                    </ul>
                </div>
            </div>

        </div>

    </header>